nav {
    height: 4rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: +10000!important;
}


/*Styling logo*/

.logo {
    padding: 1vh 1vw;
    text-align: center;
}

.logo img {
    height: 5rem;
    width: 5rem;
}


/*Styling Linkss*/

.nav-linkss {
    display: flex;
    list-style: none;
    width: 88vw;
   margin-top:1.5%;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
  

}

.nav-linkss li a {
    text-decoration: none;
    margin: 0 1.9vw;
    padding:20% 0%;
    margin-top: 3%;
}

.nav-linkss li a:hover {
    color: #70450d;
}

.nav-linkss li {
    position: relative;
 
}

.nav-linkss li a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #cf6006;
    position: relative;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 19%;
}

.nav-linkss li a:hover::after {
    width: 80%;
}


/*Styling Buttons*/

.login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}


/*Styling Hamburger Icon*/

.hamburger div {
    width: 30px;
    height: 3px;
    background: #ec920a;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}


/*Stying for small screens*/

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-linkss {
        position: fixed;
        background: #131418c7;
        color: #f2f5f7;  
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
     
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-linkss.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-linkss li {
        opacity: 0;
        padding: 3% 9%;
    

    }
    .nav-linkss li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-linkss li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-linkss li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-linkss li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-linkss li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-linkss li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-linkss li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fadee {
        opacity: 1;
        color: #f2f5f7!important;
      
    }
}


/*Animating Hamburger Icon on Click*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

li .fadee a {
    color: #f2f5f7!important;
}


/* nav fixt pc mood  */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height:4em;
    width: 100%;
    background-color: #130b02;
    box-sizing: border-box;
    transition: background-color 1.1s ease-out;
    color: rgb(22, 22, 22);
    z-index: +1030;
    font-family: head;
    font-weight: 100;
   
}

nav.scroll {
    background-color: #3e3d3da2;
    color: rgb(0, 0, 0);  
    height: 4em;

  }

nav.scroll ul li a {
    color: rgb(255, 94, 1);
    text-align: center;
    text-shadow: 0px 0px 1px #000000;

}




nav.scroll ul li:hover {
    color: #c78937;
}

ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul li a:hover {
    color: rgb(143, 20, 20);
    text-decoration: none;
    padding-bottom: 10px;
}
